<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.CarElectricMapper">

    <select id="findCarElectricDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.CarElectric">
        SELECT
        cce.ID,
        cce.CAR_TYPE,
        cce.CAR_BRANDS,
        cce.STEEL_FRAME_NUMBER,
        cce.MOTOR_NUMBER,
        cce.CAR_NUMBER,
        cce.USER,
        cce.USE_DEPT_NAME,
        cce.CAR_ALLOTMENT_DATE,
        cce.BATTERY_NUMBER,
        cce.BATTERY_REPLACEMENT_DATE1,
        cce.BATTERY_REPLACEMENT_DATE2,
        cce.IF_LICENSE,
        cce.STORAGE_LOCATION,
        cce.STATUS,
        cce.IF_THREE,
        cce.CREATE_TIME,
        cce.MODIFY_TIME
        FROM
        cy_car_electric AS cce
        WHERE cce.DELETED=0
        <if test="carElectric.ifThree != null and carElectric.ifThree !=''">
            AND cce.IF_THREE = #{carElectric.ifThree}
        </if>
        <if test="carElectric.useDeptName != null and carElectric.useDeptName !=''">
            AND cce.USE_DEPT_NAME LIKE CONCAT('%',#{carElectric.useDeptName},'%')
        </if>
        <if test="carElectric.status != null and carElectric.status !=''">
            AND FIND_IN_SET(cce.STATUS, #{carElectric.status})
        </if>
        <if test="carElectric.ifLicense != null and carElectric.ifLicense !=''">
            AND cce.IF_LICENSE = #{carElectric.ifLicense}
        </if>
        <if test="carElectric.user != null and carElectric.user !=''">
            AND cce.USER LIKE CONCAT('%',#{carElectric.user},'%')
        </if>
        <if test="carElectric.carNumber != null and carElectric.carNumber !=''">
            AND cce.CAR_NUMBER LIKE CONCAT('%',#{carElectric.carNumber},'%')
        </if>
        <if test="carElectric.carBrands != null and carElectric.carBrands !=''">
            AND cce.CAR_BRANDS LIKE CONCAT('%',#{carElectric.carBrands},'%')
        </if>
        <if test="carElectric.carType != null and carElectric.carType !=''">
            AND cce.CAR_TYPE LIKE CONCAT('%',#{carElectric.carType},'%')
        </if>
    </select>

</mapper>
