<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.ContractInsideMapper">
    <select id="findContractInsideDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.ContractInside">
        SELECT
        cci.ID,
        cci.ID_NUM,
        cci.IS_FIXED_PERIOD,
        cci.CONTRACT_PERIOD,
        cci.CONTRACT_PERIOD_DATE,
        cci.JOB_AGREEMENT,
        cci.JOB_AGREEMENT_DATE,
        cci.REMARK_RENEW,
        cci.REMARK,
        cci.FILE_NUM,
        cci.BAD_NUM,
        csi.STAFF_ID,
        csi.`NAME`
        FROM cy_contract_inside AS cci
        LEFT JOIN cy_staff_inside AS csi ON(csi.ID_NUM=cci.ID_NUM)
        WHERE 1=1
        <if test="contractInside.idNum != null and contractInside.idNum != ''">
            AND cci.ID_NUM LIKE CONCAT('%',#{contractInside.idNum},'%')
        </if>
        <if test="contractInside.fileNum != null and contractInside.fileNum != ''">
            AND cci.FILE_NUM LIKE CONCAT('%',#{contractInside.fileNum},'%')
        </if>
        <if test="contractInside.badNum != null and contractInside.badNum != ''">
            AND cci.BAD_NUM LIKE CONCAT('%',#{contractInside.badNum},'%')
        </if>
        <if test="contractInside.remarkRenew != null and contractInside.remarkRenew != ''">
            AND cci.REMARK_RENEW LIKE CONCAT('%',#{contractInside.remarkRenew},'%')
        </if>
        <if test="contractInside.remark != null and contractInside.remark != ''">
            AND cci.REMARK LIKE CONCAT('%',#{contractInside.remark},'%')
        </if>
        <if test="contractInside.name != null and contractInside.name != ''">
            AND csi.NAME LIKE CONCAT('%',#{contractInside.name},'%')
        </if>
        <if test="contractInside.contractPeriodFromFrom != null and contractInside.contractPeriodFromFrom != '' and contractInside.contractPeriodFromTo != null and contractInside.contractPeriodFromTo != ''">
            AND FIND_IN_SET(cci.ID,(
            SELECT group_concat(cci.ID) AS id
            FROM cy_contract_inside AS cci
            JOIN mysql.help_topic AS b
            ON b.help_topic_id &lt; (length(cci.CONTRACT_PERIOD_DATE) - length(REPLACE(cci.CONTRACT_PERIOD_DATE,',',''))+1)
            WHERE substring_index(substring_index(substring_index(cci.CONTRACT_PERIOD_DATE,',',b.help_topic_id+1),',',-1),'~',1)&gt;=#{contractInside.contractPeriodFromFrom}
            AND substring_index(substring_index(substring_index(cci.CONTRACT_PERIOD_DATE,',',b.help_topic_id+1),',',-1),'~',1)&lt;=#{contractInside.contractPeriodFromTo}
            ))
        </if>
        <if test="contractInside.contractPeriodToFrom != null and contractInside.contractPeriodToFrom != '' and contractInside.contractPeriodToTo != null and contractInside.contractPeriodToTo != ''">
            AND FIND_IN_SET(cci.ID,(
            SELECT group_concat(cci.ID) AS id
            FROM cy_contract_inside AS cci
            JOIN mysql.help_topic AS b
            ON b.help_topic_id &lt; (length(cci.CONTRACT_PERIOD_DATE) - length(REPLACE(cci.CONTRACT_PERIOD_DATE,',',''))+1)
            WHERE substring_index(substring_index(substring_index(cci.CONTRACT_PERIOD_DATE,',',b.help_topic_id+1),',',-1),'~',-1)&gt;=#{contractInside.contractPeriodToFrom}
            AND substring_index(substring_index(substring_index(cci.CONTRACT_PERIOD_DATE,',',b.help_topic_id+1),',',-1),'~',-1)&lt;=#{contractInside.contractPeriodToTo}
            ))
        </if>
        <if test="contractInside.jobAgreementFromFrom != null and contractInside.jobAgreementFromFrom != '' and contractInside.jobAgreementFromTo != null and contractInside.jobAgreementFromTo != ''">
            AND FIND_IN_SET(cci.ID,(
            SELECT group_concat(cci.ID) AS id
            FROM cy_contract_inside AS cci
            JOIN mysql.help_topic AS b
            ON b.help_topic_id &lt; (length(cci.JOB_AGREEMENT_DATE) - length(REPLACE(cci.JOB_AGREEMENT_DATE,',',''))+1)
            WHERE substring_index(substring_index(substring_index(cci.JOB_AGREEMENT_DATE,',',b.help_topic_id+1),',',-1),'~',1)&gt;=#{contractInside.jobAgreementFromFrom}
            AND substring_index(substring_index(substring_index(cci.JOB_AGREEMENT_DATE,',',b.help_topic_id+1),',',-1),'~',1)&lt;=#{contractInside.jobAgreementFromTo}
            ))
        </if>
        <if test="contractInside.jobAgreementToFrom != null and contractInside.jobAgreementToFrom != '' and contractInside.jobAgreementToTo != null and contractInside.jobAgreementToTo != ''">
            AND FIND_IN_SET(cci.ID,(
            SELECT group_concat(cci.ID) AS id
            FROM cy_contract_inside AS cci
            JOIN mysql.help_topic AS b
            ON b.help_topic_id &lt; (length(cci.JOB_AGREEMENT_DATE) - length(REPLACE(cci.JOB_AGREEMENT_DATE,',',''))+1)
            WHERE substring_index(substring_index(substring_index(cci.JOB_AGREEMENT_DATE,',',b.help_topic_id+1),',',-1),'~',-1)&gt;=#{contractInside.jobAgreementToFrom}
            AND substring_index(substring_index(substring_index(cci.JOB_AGREEMENT_DATE,',',b.help_topic_id+1),',',-1),'~',-1)&lt;=#{contractInside.jobAgreementToTo}
            ))
        </if>
    </select>

    <select id="getContractInside" resultType="cc.mrbird.febs.chaoyang3team.domain.ContractInside">
        SELECT
        cci.ID,
        cci.ID_NUM,
        cci.IS_FIXED_PERIOD,
        cci.CONTRACT_PERIOD,
        cci.CONTRACT_PERIOD_DATE,
        cci.JOB_AGREEMENT,
        cci.JOB_AGREEMENT_DATE,
        cci.REMARK_RENEW,
        cci.REMARK,
        cci.FILE_NUM,
        cci.BAD_NUM
        FROM cy_contract_inside AS cci
        WHERE cci.ID_NUM=#{idNum}
    </select>

    <select id="getStaffInsideIds" resultType="java.lang.String">
        SELECT csi.STAFF_ID
        FROM cy_contract_inside AS cco
        LEFT JOIN cy_staff_inside AS csi ON(csi.ID_NUM=cco.ID_NUM)
        WHERE FIND_IN_SET(cco.ID, #{contractInsideIdsStr})
    </select>
</mapper>
