<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.ContractOutsideMapper">
    <select id="findContractOutsideDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.ContractOutside">
        SELECT
        cci.ID,
        cci.ID_NUM,
        cci.IS_FIXED_PERIOD,
        cci.CONTRACT_PERIOD,
        cci.CONTRACT_PERIOD_DATE,
        cci.JOB_AGREEMENT,
        cci.JOB_AGREEMENT_DATE,
        cci.REMARK_RENEW,
        cci.REMARK,
        csi.STAFF_ID,
        csi.`NAME`,
        csi.TEAM,
        csi.TYPE,
        csi.SORT_NUM_1,
        csi.SORT_NUM_2
        FROM cy_contract_outside AS cci
        LEFT JOIN cy_staff_outside AS csi ON(csi.ID_NUM=cci.ID_NUM)
        WHERE FIND_IN_SET(csi.IS_LEAVE, #{contractOutside.isLeave})
        <choose>
            <when test="contractOutside.deleted !=null and contractOutside.deleted != ''">
                AND csi.DELETED = #{contractOutside.deleted}
                AND cci.DELETED = #{contractOutside.deleted}
            </when>
            <otherwise>
                AND csi.DELETED=0
                AND cci.DELETED=0
            </otherwise>
        </choose>
        <if test="contractOutside.type != null and contractOutside.type != ''">
            AND FIND_IN_SET(csi.TYPE, #{contractOutside.type})
        </if>
        <if test="contractOutside.team != null and contractOutside.team != ''">
            AND FIND_IN_SET(csi.TEAM, #{contractOutside.team})
        </if>
        <if test="contractOutside.idNum != null and contractOutside.idNum != ''">
            AND cci.ID_NUM LIKE CONCAT('%',#{contractOutside.idNum},'%')
        </if>
        <if test="contractOutside.remarkRenew != null and contractOutside.remarkRenew != ''">
            AND cci.REMARK_RENEW LIKE CONCAT('%',#{contractOutside.remarkRenew},'%')
        </if>
        <if test="contractOutside.remark != null and contractOutside.remark != ''">
            AND cci.REMARK LIKE CONCAT('%',#{contractOutside.remark},'%')
        </if>
        <if test="contractOutside.name != null and contractOutside.name != ''">
            AND csi.NAME LIKE CONCAT('%',#{contractOutside.name},'%')
        </if>
        <if test="contractOutside.contractPeriodFromFrom != null and contractOutside.contractPeriodFromFrom != '' and contractOutside.contractPeriodFromTo != null and contractOutside.contractPeriodFromTo != ''">
            AND FIND_IN_SET(cci.ID,(
            SELECT group_concat(cci.ID) AS id
            FROM cy_contract_outside AS cci
            JOIN mysql.help_topic AS b
            ON b.help_topic_id &lt; (length(cci.CONTRACT_PERIOD_DATE) - length(REPLACE(cci.CONTRACT_PERIOD_DATE,',',''))+1)
            WHERE substring_index(substring_index(substring_index(cci.CONTRACT_PERIOD_DATE,',',b.help_topic_id+1),',',-1),'~',1)&gt;=#{contractOutside.contractPeriodFromFrom}
            AND substring_index(substring_index(substring_index(cci.CONTRACT_PERIOD_DATE,',',b.help_topic_id+1),',',-1),'~',1)&lt;=#{contractOutside.contractPeriodFromTo}
            ))
        </if>
        <if test="contractOutside.contractPeriodToFrom != null and contractOutside.contractPeriodToFrom != '' and contractOutside.contractPeriodToTo != null and contractOutside.contractPeriodToTo != ''">
            AND FIND_IN_SET(cci.ID,(
            SELECT group_concat(cci.ID) AS id
            FROM cy_contract_outside AS cci
            JOIN mysql.help_topic AS b
            ON b.help_topic_id &lt; (length(cci.CONTRACT_PERIOD_DATE) - length(REPLACE(cci.CONTRACT_PERIOD_DATE,',',''))+1)
            WHERE substring_index(substring_index(substring_index(cci.CONTRACT_PERIOD_DATE,',',b.help_topic_id+1),',',-1),'~',-1)&gt;=#{contractOutside.contractPeriodToFrom}
            AND substring_index(substring_index(substring_index(cci.CONTRACT_PERIOD_DATE,',',b.help_topic_id+1),',',-1),'~',-1)&lt;=#{contractOutside.contractPeriodToTo}
            ))
        </if>
        <if test="contractOutside.jobAgreementFromFrom != null and contractOutside.jobAgreementFromFrom != '' and contractOutside.jobAgreementFromTo != null and contractOutside.jobAgreementFromTo != ''">
            AND FIND_IN_SET(cci.ID,(
            SELECT group_concat(cci.ID) AS id
            FROM cy_contract_outside AS cci
            JOIN mysql.help_topic AS b
            ON b.help_topic_id &lt; (length(cci.JOB_AGREEMENT_DATE) - length(REPLACE(cci.JOB_AGREEMENT_DATE,',',''))+1)
            WHERE substring_index(substring_index(substring_index(cci.JOB_AGREEMENT_DATE,',',b.help_topic_id+1),',',-1),'~',1)&gt;=#{contractOutside.jobAgreementFromFrom}
            AND substring_index(substring_index(substring_index(cci.JOB_AGREEMENT_DATE,',',b.help_topic_id+1),',',-1),'~',1)&lt;=#{contractOutside.jobAgreementFromTo}
            ))
        </if>
        <if test="contractOutside.jobAgreementToFrom != null and contractOutside.jobAgreementToFrom != '' and contractOutside.jobAgreementToTo != null and contractOutside.jobAgreementToTo != ''">
            AND FIND_IN_SET(cci.ID,(
            SELECT group_concat(cci.ID) AS id
            FROM cy_contract_outside AS cci
            JOIN mysql.help_topic AS b
            ON b.help_topic_id &lt; (length(cci.JOB_AGREEMENT_DATE) - length(REPLACE(cci.JOB_AGREEMENT_DATE,',',''))+1)
            WHERE substring_index(substring_index(substring_index(cci.JOB_AGREEMENT_DATE,',',b.help_topic_id+1),',',-1),'~',-1)&gt;=#{contractOutside.jobAgreementToFrom}
            AND substring_index(substring_index(substring_index(cci.JOB_AGREEMENT_DATE,',',b.help_topic_id+1),',',-1),'~',-1)&lt;=#{contractOutside.jobAgreementToTo}
            ))
        </if>
        ORDER BY IS_LEAVE ASC, SORT_NUM_1 ASC, SORT_NUM_2 ASC
    </select>

    <select id="getContractOutside" resultType="cc.mrbird.febs.chaoyang3team.domain.ContractOutside">
        SELECT
        cci.ID,
        cci.ID_NUM,
        cci.IS_FIXED_PERIOD,
        cci.CONTRACT_PERIOD,
        cci.CONTRACT_PERIOD_DATE,
        cci.JOB_AGREEMENT,
        cci.JOB_AGREEMENT_DATE,
        cci.REMARK_RENEW,
        cci.REMARK
        FROM cy_contract_outside AS cci
        WHERE cci.ID_NUM=#{idNum}
    </select>

    <select id="getStaffOutsideIds" resultType="java.lang.String">
        SELECT cso.STAFF_ID
        FROM cy_contract_outside AS cco
        LEFT JOIN cy_staff_outside AS cso ON(cso.ID_NUM=cco.ID_NUM)
        WHERE FIND_IN_SET(cco.ID, #{contractOutsideIdsStr})
    </select>

    <delete id="deleteContractOutsideTrue">
        DELETE FROM cy_contract_outside WHERE FIND_IN_SET(ID, #{contractOutsideIdsStr})
    </delete>

    <update id="restoreContractOutside">
        UPDATE cy_contract_outside SET DELETED=0 WHERE FIND_IN_SET(ID, #{contractOutsideIds})
    </update>

</mapper>
