<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.ContractFileMapper">

    <select id="findFileIdsByContractIds" resultType="java.lang.String">
        SELECT FILE_ID FROM p_contract_file WHERE FIND_IN_SET(CONTRACT_ID, #{contractIds})
    </select>
    <select id="findFilesByContractId" resultType="cc.mrbird.febs.chaoyang3team.domain.File">
        SELECT tf.* FROM p_contract_file AS pwf LEFT JOIN t_file AS tf ON(pwf.FILE_ID = tf.FILE_ID) WHERE pwf.CONTRACT_ID = #{contractId}
    </select>
</mapper>
