<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.FileMapper">

    <select id="findFileIdByFileName" resultType="java.lang.String">
        SELECT FILE_ID FROM t_file WHERE ADDRESS = #{fileName}
    </select>
</mapper>
