<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.FireExtinguisherMapper">

    <select id="findFireExtinguisherDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.FireExtinguisher">
        SELECT
        cfe.ID,
        cfe.ASSET_NAME,
        cfe.BRAND_MODEL,
        cfe.ALLOTMENT_DATE1,
        cfe.ALLOTMENT_DATE2,
        cfe.USER,
        cfe.TEST_DATE1,
        cfe.TEST_DATE2,
        cw.WC_NAME,
        cw.WC_NUM,
        cfe.SPECIFICATION1,
        cfe.SPECIFICATION2,
        cfe.PLACE,
        cfe.REMARK,
        cfe.CREATE_TIME,
        cfe.MODIFY_TIME,
        cfe.DELETED
        FROM
        cy_Fire_extinguisher AS cfe
        LEFT JOIN cy_wc AS cw ON(cw.WC_NUM = cfe.WC_NUM)
        WHERE cfe.DELETED=0
        <if test="fireExtinguisher.assetName != null and fireExtinguisher.assetName !=''">
            AND cfe.ASSET_NAME LIKE CONCAT('%',#{fireExtinguisher.assetName},'%')
        </if>
        <if test="fireExtinguisher.brandModel != null and fireExtinguisher.brandModel !=''">
            AND cfe.BRAND_MODEL LIKE CONCAT('%',#{fireExtinguisher.brandModel},'%')
        </if>
        <if test="fireExtinguisher.user != null and fireExtinguisher.user !=''">
            AND cfe.USER LIKE CONCAT('%',#{fireExtinguisher.user},'%')
        </if>
        <if test="fireExtinguisher.wcName != null and fireExtinguisher.wcName !=''">
            AND cw.WC_NAME LIKE CONCAT('%',#{fireExtinguisher.wcName},'%')
        </if>
        <if test="fireExtinguisher.wcNum != null and fireExtinguisher.wcNum !=''">
            AND cw.WC_NUM LIKE CONCAT('%',#{fireExtinguisher.wcNum},'%')
        </if>
        <if test="fireExtinguisher.specification1 != null and fireExtinguisher.specification1 !=''">
            AND cfe.SPECIFICATION1 LIKE CONCAT('%',#{fireExtinguisher.specification1},'%')
        </if>
        <if test="fireExtinguisher.specification2 != null and fireExtinguisher.specification2 !=''">
            AND cfe.SPECIFICATION2 LIKE CONCAT('%',#{fireExtinguisher.specification2},'%')
        </if>
        <if test="fireExtinguisher.place != null and fireExtinguisher.place !=''">
            AND cfe.PLACE LIKE CONCAT('%',#{fireExtinguisher.place},'%')
        </if>
        <if test="fireExtinguisher.remark != null and fireExtinguisher.remark !=''">
            AND cfe.REMARK LIKE CONCAT('%',#{fireExtinguisher.remark},'%')
        </if>
        <if test="fireExtinguisher.allotmentDate1From != null and fireExtinguisher.allotmentDate1From != '' and fireExtinguisher.allotmentDate1To != null and fireExtinguisher.allotmentDate1To != ''">
            AND cfe.ALLOTMENT_DATE1 &gt;= #{fireExtinguisher.allotmentDate1From}
            AND cfe.ALLOTMENT_DATE1 &lt;= #{fireExtinguisher.allotmentDate1To}
        </if>
        <if test="fireExtinguisher.allotmentDate2From != null and fireExtinguisher.allotmentDate2From != '' and fireExtinguisher.allotmentDate2To != null and fireExtinguisher.allotmentDate2To != ''">
            AND cfe.ALLOTMENT_DATE2 &gt;= #{fireExtinguisher.allotmentDate2From}
            AND cfe.ALLOTMENT_DATE2 &lt;= #{fireExtinguisher.allotmentDate2To}
        </if>
        <if test="fireExtinguisher.testDate1From != null and fireExtinguisher.testDate1From != '' and fireExtinguisher.testDate1To != null and fireExtinguisher.testDate1To != ''">
            AND cfe.TEST_DATE1 &gt;= #{fireExtinguisher.testDate1From}
            AND cfe.TEST_DATE1 &lt;= #{fireExtinguisher.testDate1To}
        </if>
        <if test="fireExtinguisher.testDate2From != null and fireExtinguisher.testDate2From != '' and fireExtinguisher.testDate2To != null and fireExtinguisher.testDate2To != ''">
            AND cfe.TEST_DATE2 &gt;= #{fireExtinguisher.testDate2From}
            AND cfe.TEST_DATE2 &lt;= #{fireExtinguisher.testDate2To}
        </if>
    </select>
</mapper>
