<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.PlanStableMapper">

    <select id="planStableList" resultType="cc.mrbird.febs.chaoyang3team.domain.PlanStable">
        SELECT * FROM cy_plan_stable ORDER BY CONVERT( `NAME` USING gbk )
    </select>
</mapper>
