<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.StoreroomMapper">

    <select id="findStoreroomsDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.Storeroom">
        SELECT
        s.ID,
        s.`NAME`,
        s.TYPE,
        s.AMOUNT,
        s.UNIT,
        s.REMARK,
        s.MONEY,
        s.RECEIPT,
        s.DATE,
        s.TYPE_APPLICATION,
        s.SUPPLIER,
        cs.NAME AS supplierToDict,
        s.IS_IN,
        s.AMOUNT * s.MONEY AS totalPrice,
        spo.NUM AS putNum,
        #{storeroom.names} as names,
        #{storeroom.names} as unitOriginal
        FROM cy_storeroom AS s
        LEFT JOIN cy_storeroom AS s1 ON(s.ID=s1.PARENT_ID)
        LEFT JOIN p_storeroom_put AS sp ON(sp.STOREROOM_ID=s1.ID)
        LEFT JOIN cy_storeroom_put_out AS spo ON(spo.ID=sp.PUT_ID)
        LEFT JOIN cy_supplier AS cs ON(cs.ID=s.SUPPLIER)
        WHERE 1=1
        <include refid="param"/>
    </select>

    <select id="findStoreroomsTotalPrice" resultType="java.math.BigDecimal">
        SELECT SUM(s.AMOUNT * s.MONEY)
        FROM cy_storeroom AS s
        LEFT JOIN cy_storeroom AS s1 ON(s.ID=s1.PARENT_ID)
        LEFT JOIN p_storeroom_put AS sp ON(sp.STOREROOM_ID=s1.ID)
        LEFT JOIN cy_storeroom_put_out AS spo ON(spo.ID=sp.PUT_ID)
        WHERE 1=1
        <include refid="param"/>
    </select>

    <select id="findStoreroomsSelectedTotalPrice" resultType="java.math.BigDecimal">
        SELECT SUM(AMOUNT * MONEY)
        FROM cy_storeroom
        WHERE FIND_IN_SET(ID, #{ids})
    </select>

    <select id="getParentIdByIds" resultType="java.lang.String">
        SELECT PARENT_ID FROM cy_storeroom WHERE FIND_IN_SET(ID, #{storeroomIds})
    </select>

    <select id="getStoreroomsDist" resultType="cc.mrbird.febs.chaoyang3team.domain.Storeroom">
        SELECT
        s.ID,
        s.`NAME`,
        s.TYPE,
        IFNULL( cuc.AMOUNT, s.AMOUNT ) AS AMOUNT,
        IFNULL( cuc.AMOUNT_DIST, s.AMOUNT_DIST ) AS AMOUNT_DIST,
        0 + CAST(IFNULL( cuc.AMOUNT_DIST, s.AMOUNT_DIST ) AS CHAR) AS storeroomCount,
        IFNULL( cuc.UNIT, s.UNIT ) AS UNIT,
        0 + CAST(s.MONEY / IFNULL(cuc.AMOUNT_CONVERSION, 1) AS CHAR) AS MONEY,
        s.UNIT AS unitOriginal,
        s.AMOUNT AS amountOriginal,
        s.MONEY AS moneyOriginal,
        s.REMARK,
        s.RECEIPT,
        s.DATE,
        s.TYPE_APPLICATION,
        (SELECT td.VALUEE FROM t_dict td WHERE td.TABLE_NAME='cy_storeroom' AND td.FIELD_NAME='TYPE_APPLICATION' AND
        td.KEYY=s.TYPE_APPLICATION LIMIT 1) AS TYPE_APPLICATION_TO_DICT,
        s.SUPPLIER,
        spo.NUM AS outNum,
        spo.TO_DEPT_ID,
        td.DEPT_NAME AS toDeptName
        FROM cy_storeroom AS s
        LEFT JOIN p_storeroom_out AS so ON(so.STOREROOM_ID=s.ID)
        LEFT JOIN cy_storeroom_put_out AS spo ON(spo.ID=so.OUT_ID)
        LEFT JOIN t_dept AS td ON(td.DEPT_ID=spo.TO_DEPT_ID)
        LEFT JOIN cy_unit_conversion AS cuc ON ( cuc.STOREROOM_ID = s.ID )
        WHERE s.IS_IN='2'
        AND FIND_IN_SET(s.STATUS,#{storeroom.status})
        AND FIND_IN_SET(spo.TO_DEPT_ID, #{storeroom.toDeptIds})
        <if test="storeroom.typeApplicationAuthority != null and storeroom.typeApplicationAuthority != ''">
            AND FIND_IN_SET(s.TYPE_APPLICATION, #{storeroom.typeApplicationAuthority})
        </if>
        AND FIND_IN_SET(s.TYPE_APPLICATION, #{storeroom.typeApplication})
        <!--<if test="storeroom.name != null and storeroom.name != ''">
            AND s.NAME LIKE CONCAT('%',#{storeroom.name},'%')
        </if>-->
        <if test="storeroom.name != null and storeroom.name != ''">
            <foreach collection="storeroom.names" index="index" item="item" open="AND (" separator="OR" close=")">
                s.NAME LIKE CONCAT('%',#{item},'%')
            </foreach>
        </if>
        <if test="storeroom.remark != null and storeroom.remark != ''">
            AND s.REMARK LIKE CONCAT('%',#{storeroom.remark},'%')
        </if>
        <if test="storeroom.id != null and storeroom.id != ''">
            AND s.ID LIKE CONCAT('%',#{storeroom.id},'%')
        </if>
        <if test="storeroom.type != null and storeroom.type != ''">
            AND s.TYPE LIKE CONCAT('%',#{storeroom.type},'%')
        </if>
        <if test="storeroom.ids != null and storeroom.ids != ''">
            <foreach collection="storeroom.idArr" index="index" item="item" open="AND (" separator="OR" close=")">
                s.ID LIKE CONCAT('%',#{item},'%')
            </foreach>
        </if>
    </select>

    <select id="getCanteenByDate" resultType="cc.mrbird.febs.chaoyang3team.domain.Storeroom">
        SELECT
        c.`NAME` AS name,
        SUM(s.AMOUNT) AS amount,
        SUM(s.AMOUNT*s.MONEY) AS money
        FROM cy_storeroom AS s
        LEFT JOIN p_storeroom_out AS so ON(so.STOREROOM_ID=s.ID)
        LEFT JOIN cy_storeroom_put_out AS spo ON(spo.ID=so.OUT_ID)
        LEFT JOIN cy_canteen AS c ON(c.`NAME`=s.TYPE)
        WHERE spo.TYPE_APPLICATION=8 AND spo.IS_PUT=2
        <if test="date != null and date != ''">
            AND spo.DATE LIKE CONCAT(#{date},'%')
        </if>
        <if test="dateRangeFrom != null and dateRangeFrom != '' and dateRangeTo != null and dateRangeTo != ''">
            AND spo.DATE &gt;= #{dateRangeFrom} AND spo.DATE &lt;= #{dateRangeTo}
        </if>
        GROUP BY c.ID
        ORDER BY c.ID
    </select>

    <select id="getCanteenBySupplierClassification" resultType="cc.mrbird.febs.chaoyang3team.domain.Storeroom">
        SELECT
        a.NAME,
        <if test="is == 1">
            spo.`DATE`,
        </if>
        SUM( spo.MONEY ) AS money
        FROM cy_storeroom_put_out AS spo
        LEFT JOIN cy_supplier AS a ON ( a.ID = spo.SUPPLIER )
        WHERE spo.TYPE_APPLICATION = 8 AND spo.IS_PUT = 2
        <if test="dateRangeFrom != null and dateRangeFrom != '' and dateRangeTo != null and dateRangeTo != ''">
            AND spo.DATE &gt;= #{dateRangeFrom} AND spo.DATE &lt;= #{dateRangeTo}
        </if>
        GROUP BY a.ID
        <if test="is == 1">
            , spo.`DATE`
        </if>
        ORDER BY a.ID
    </select>

    <select id="getDateRange" resultType="java.lang.String">
        SELECT
        date_add( #{dateRangeFrom}, INTERVAL ( cast( help_topic_id AS signed INTEGER ) ) DAY ) AS `day`
        FROM
        mysql.help_topic
        WHERE
        help_topic_id &lt; #{day}
        ORDER BY
        help_topic_id
    </select>

    <select id="findStoreroomByIdAndParentId" resultType="cc.mrbird.febs.chaoyang3team.domain.Storeroom">
        SELECT
        s.ID,
        s.`NAME`,
        s.TYPE,
        s.AMOUNT,
        s.UNIT,
        s.REMARK,
        s.MONEY,
        s.RECEIPT,
        s.TYPE_APPLICATION,
        s.SUPPLIER,
        s.IS_IN,
        s.TO_DEPT_ID,
        s.PARENT_ID,
        s.STATUS,
        s.AMOUNT_DIST
        FROM cy_storeroom AS s
        WHERE FIND_IN_SET(s.ID,#{ids}) OR FIND_IN_SET(s.PARENT_ID,#{ids})
    </select>

    <!--cs.ID,
    cs.`NAME`,
    cs.TYPE,
    cs.AMOUNT,
    cs.UNIT,
    cs.REMARK,
    cs.MONEY,
    cs.RECEIPT,
    cs.DATE,
    cs.TYPE_APPLICATION,
    cs.SUPPLIER,
    cs.IS_IN,
    cs.PARENT_ID,
    cspo.NUM AS putNum-->
    <select id="findStoreroomsItemDetails" resultType="cc.mrbird.febs.chaoyang3team.domain.Storeroom">
        SELECT
        cs.ID,
        cs.`NAME`,
        cs.TYPE,
        cs.AMOUNT,
        cs.UNIT,
        cs.MONEY,
        cs.DATE,
        cs.TYPE_APPLICATION,
        cs.SUPPLIER,
        cs.IS_IN,
        cs.PARENT_ID,
        cspo.NUM AS putNum
        FROM cy_storeroom AS cs
        LEFT JOIN p_storeroom_put AS psp ON psp.STOREROOM_ID=cs.ID
        LEFT JOIN cy_storeroom_put_out AS cspo ON cspo.ID=psp.PUT_ID
        WHERE cspo.IS_PUT='1'
        <if test="storeroom.typeApplicationAuthority != null and storeroom.typeApplicationAuthority != ''">
            AND FIND_IN_SET(cs.TYPE_APPLICATION, #{storeroom.typeApplicationAuthority})
        </if>
        <!--<if test="storeroom.name != null and storeroom.name != ''">
            AND cs.NAME LIKE CONCAT('%',#{storeroom.name},'%')
        </if>-->
        <if test="storeroom.name != null and storeroom.name != ''">
            <foreach collection="storeroom.names" index="index" item="item" open="AND (" separator="OR" close=")">
                cs.NAME LIKE CONCAT('%',#{item},'%')
            </foreach>
        </if>
        <if test="storeroom.putNum != null and storeroom.putNum != ''">
            AND cspo.NUM LIKE CONCAT('%',#{storeroom.putNum},'%')
        </if>
        <if test="storeroom.receipt != null and storeroom.receipt != ''">
            AND cs.RECEIPT LIKE CONCAT('%',#{storeroom.receipt},'%')
        </if>
        <if test="storeroom.typeApplication != null and storeroom.typeApplication != ''">
            AND FIND_IN_SET(cs.TYPE_APPLICATION, #{storeroom.typeApplication})
        </if>
        <if test="storeroom.supplier != null and storeroom.supplier != ''">
            AND FIND_IN_SET(cs.SUPPLIER, #{storeroom.supplier})
        </if>
        <if test="storeroom.createTimeFrom != null and storeroom.createTimeFrom !=''">
            AND cs.DATE &gt;= #{storeroom.createTimeFrom}
        </if>
        <if test="storeroom.createTimeTo!= null and storeroom.createTimeTo !=''">
            AND cs.DATE &lt;= #{storeroom.createTimeTo}
        </if>
        <if test="storeroom.remark != null and storeroom.remark != ''">
            AND cs.REMARK LIKE CONCAT('%',#{storeroom.remark},'%')
        </if>
        <if test="storeroom.type != null and storeroom.type != ''">
            AND cs.TYPE LIKE CONCAT('%',#{storeroom.type},'%')
        </if>
    </select>

    <select id="getStoreroomOutItemByParentIdAndId" resultType="cc.mrbird.febs.chaoyang3team.domain.Storeroom">
        SELECT
        cs.ID,
        cs.`NAME`,
        cs.TYPE,
        cs.AMOUNT,
        cs.UNIT,
        cs.REMARK,
        cs.MONEY,
        cs.RECEIPT,
        cs.DATE,
        cs.TYPE_APPLICATION,
        cs.SUPPLIER,
        cs.IS_IN,
        cs.PARENT_ID,
        td.DEPT_NAME AS toDeptName,
        cso.NUM AS outNum
        FROM cy_storeroom  AS cs
        LEFT JOIN p_storeroom_out AS pso ON ( pso.STOREROOM_ID = cs.ID )
        LEFT JOIN cy_storeroom_put_out AS cso ON ( cso.ID = pso.OUT_ID )
        LEFT JOIN t_dept AS td ON td.DEPT_ID = cso.TO_DEPT_ID
        WHERE cs.PARENT_ID=#{parentId} AND (cs.ID=#{id})=0
        ORDER BY cs.DATE
    </select>

    <sql id="param">
        AND s.IS_IN=0 AND s1.TO_DEPT_ID=0 AND (s.AMOUNT=0)=0
        <!--<if test="storeroom.name != null and storeroom.name != ''">
            AND s.NAME LIKE CONCAT('%',#{storeroom.name},'%')
        </if>-->
        <if test="storeroom.name != null and storeroom.name != ''">
            <foreach collection="storeroom.names" index="index" item="item" open="AND (" separator="OR" close=")">
                s.NAME LIKE CONCAT('%',#{item},'%')
            </foreach>
        </if>
        <if test="storeroom.putNum != null and storeroom.putNum != ''">
            AND spo.NUM LIKE CONCAT('%',#{storeroom.putNum},'%')
        </if>
        <if test="storeroom.receipt != null and storeroom.receipt != ''">
            AND s.RECEIPT LIKE CONCAT('%',#{storeroom.receipt},'%')
        </if>
        <if test="storeroom.typeApplicationAuthority != null and storeroom.typeApplicationAuthority != ''">
            AND FIND_IN_SET(s.TYPE_APPLICATION, #{storeroom.typeApplicationAuthority})
        </if>
        <if test="storeroom.typeApplication != null and storeroom.typeApplication != ''">
            AND FIND_IN_SET(s.TYPE_APPLICATION, #{storeroom.typeApplication})
        </if>
        <if test="storeroom.supplier != null and storeroom.supplier != ''">
            AND FIND_IN_SET(s.SUPPLIER, #{storeroom.supplier})
        </if>
        <if test="storeroom.createTimeFrom != null and storeroom.createTimeFrom !=''">
            AND s.DATE &gt;= #{storeroom.createTimeFrom}
        </if>
        <if test="storeroom.createTimeTo!= null and storeroom.createTimeTo !=''">
            AND s.DATE &lt;= #{storeroom.createTimeTo}
        </if>
        <if test="storeroom.remark != null and storeroom.remark != ''">
            AND s.REMARK LIKE CONCAT('%',#{storeroom.remark},'%')
        </if>
        <if test="storeroom.type != null and storeroom.type != ''">
            AND cs.TYPE LIKE CONCAT('%',#{storeroom.type},'%')
        </if>
    </sql>

    <!--SELECT
    cs.ID,
    cs.`NAME`,
    cs.TYPE,
    cs.AMOUNT,
    cs.UNIT,
    cs.REMARK,
    cs.MONEY,
    cs.RECEIPT,
    cs.DATE,
    cs.TYPE_APPLICATION,
    cs.SUPPLIER,
    cs.IS_IN,
    cs.PARENT_ID,
    td.DEPT_NAME AS toDeptName,
    csp.NUM AS putNum,
    cso.NUM AS outNum
    FROM cy_storeroom  AS cs
    LEFT JOIN p_storeroom_put as psp on (psp.STOREROOM_ID = cs.id)
    LEFT JOIN cy_storeroom_put_out as csp on (csp.id = psp.PUT_ID)
    LEFT JOIN p_storeroom_out AS pso ON ( pso.STOREROOM_ID = cs.ID )
    LEFT JOIN cy_storeroom_put_out AS cso ON ( cso.ID = pso.OUT_ID )
    LEFT JOIN t_dept AS td ON td.DEPT_ID = cso.TO_DEPT_ID
    WHERE FIND_IN_SET(cs.IS_IN, '1,2') AND cs.`NAME` = #{name} AND cs.TYPE = #{type}
    ORDER BY cs.DATE-->
</mapper>
