<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.VacationMapper">

    <select id="findVacationDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.Vacation">
        SELECT
        cs.`NAME`,
        cv.ID,
        cv.INS_OUT,
        cv.STAFF_ID,
        cv.IS_VACATION,
        cv.TYPE,
        cv.`DAY`,
        cv.REMARK,
        cv.DATE,
        cv.CREATE_TIME,
        cv.MODIFY_TIME
        FROM cy_vacation AS cv
        <if test="vacation.insOut == 0">
            LEFT JOIN cy_staff_inside AS cs ON(cs.STAFF_ID=cv.STAFF_ID)
        </if>
        <if test="vacation.insOut == 1">
            LEFT JOIN cy_staff_outside AS cs ON(cs.STAFF_ID=cv.STAFF_ID)
        </if>
        WHERE cv.INS_OUT=#{vacation.insOut}
        <if test="vacation.name != null and vacation.name != ''">
            AND cs.`NAME` LIKE CONCAT('%',#{vacation.name},'%')
        </if>
        <if test="vacation.isVacation != null and vacation.isVacation != ''">
            AND FIND_IN_SET(cv.IS_VACATION, #{vacation.isVacation})
        </if>
        <if test="vacation.type != null and vacation.type != ''">
            AND FIND_IN_SET(cv.TYPE, #{vacation.type})
        </if>
        <if test="vacation.createTimeFrom != null and vacation.createTimeFrom !=''">
            AND cv.DATE &gt;= #{vacation.createTimeFrom}
        </if>
        <if test="vacation.createTimeTo!= null and vacation.createTimeTo !=''">
            AND cv.DATE &lt;= #{vacation.createTimeTo}
        </if>
    </select>

    <select id="getType" resultType="java.lang.String">
        SELECT `TYPE` FROM cy_vacation GROUP BY `TYPE`
    </select>

    <select id="findInsideAnnualLeaveCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT csi.STAFF_ID) FROM cy_staff_inside AS csi
        LEFT JOIN cy_vacation AS cv ON(cv.STAFF_ID=csi.STAFF_ID)
        WHERE cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')
        <if test="vacation.name!= null and vacation.name !=''">
            AND csi.`NAME` LIKE CONCAT('%',#{vacation.name},'%')
        </if>
    </select>

    <!-- 这里用vacation.day是因为day是int类型，没有其他的原因 -->
    <select id="findInsideAnnualLeave" resultType="cc.mrbird.febs.chaoyang3team.domain.VacationImport">
        SELECT
        DISTINCT csi.STAFF_ID,
        csi.SORT_NUM AS sortNum,
        csi.`NAME`,
        csi.WORK_DATE,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假') AS alreadyDays,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-01-15')) AS january,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-01-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-02-15')) AS february,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-02-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-03-15')) AS march,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-03-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-04-15')) AS april,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-04-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-05-15')) AS may,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-05-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-06-15')) AS june,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-06-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-07-15')) AS july,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-07-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-08-15')) AS august,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-08-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-09-15')) AS september,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-09-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-10-15')) AS october,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-10-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-11-15')) AS november,
        (SELECT SUM(cv.`DAY`) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day},'-11-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')) AS december
        FROM cy_staff_inside AS csi
        LEFT JOIN cy_vacation AS cv ON(cv.STAFF_ID=csi.STAFF_ID)
        WHERE cv.INS_OUT='0' AND cv.TYPE='年假' AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')
        <if test="vacation.name!= null and vacation.name !=''">
            AND csi.`NAME` LIKE CONCAT('%',#{vacation.name},'%')
        </if>
    </select>

    <select id="findInsVacationCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT csi.STAFF_ID) FROM cy_staff_inside AS csi
        LEFT JOIN cy_vacation AS cv ON(cv.STAFF_ID=csi.STAFF_ID)
        WHERE cv.INS_OUT='0' AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')
        <if test="vacation.name!= null and vacation.name !=''">
            AND csi.`NAME` LIKE CONCAT('%',#{vacation.name},'%')
        </if>
    </select>

    <select id="findInsVacation" resultType="cc.mrbird.febs.chaoyang3team.domain.VacationImport">
        SELECT
        DISTINCT csi.STAFF_ID,
        csi.SORT_NUM AS sortNum,
        csi.`NAME`,
        csi.WORK_DATE,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-01-15')) AS january,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-01-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-02-15')) AS february,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-02-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-03-15')) AS march,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-03-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-04-15')) AS april,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-04-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-05-15')) AS may,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-05-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-06-15')) AS june,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-06-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-07-15')) AS july,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-07-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-08-15')) AS august,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-08-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-09-15')) AS september,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-09-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-10-15')) AS october,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-10-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-11-15')) AS november,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=csi.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-11-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')) AS december
        FROM cy_staff_inside AS csi
        LEFT JOIN cy_vacation AS cv ON(cv.STAFF_ID=csi.STAFF_ID)
        WHERE cv.INS_OUT='0' AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')
        <if test="vacation.name!= null and vacation.name !=''">
            AND csi.`NAME` LIKE CONCAT('%',#{vacation.name},'%')
        </if>
    </select>

    <select id="findOutVacationCount" resultType="java.lang.Long">
        SELECT COUNT(DISTINCT cso.STAFF_ID) FROM cy_staff_outside AS cso
        LEFT JOIN cy_vacation AS cv ON(cv.STAFF_ID=cso.STAFF_ID)
        WHERE cv.INS_OUT='1' AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')
        <if test="vacation.name!= null and vacation.name !=''">
            AND cso.`NAME` LIKE CONCAT('%',#{vacation.name},'%')
        </if>
    </select>

    <select id="findOutVacation" resultType="cc.mrbird.febs.chaoyang3team.domain.VacationImport">
        SELECT
        DISTINCT cso.STAFF_ID,
        cso.SORT_NUM_1,
        cso.SORT_NUM_2,
        cso.`NAME`,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-01-15')) AS january,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-01-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-02-15')) AS february,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-02-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-03-15')) AS march,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-03-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-04-15')) AS april,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-04-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-05-15')) AS may,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-05-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-06-15')) AS june,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-06-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-07-15')) AS july,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-07-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-08-15')) AS august,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-08-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-09-15')) AS september,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-09-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-10-15')) AS october,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-10-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-11-15')) AS november,
        (SELECT GROUP_CONCAT(CONCAT(cv.TYPE,cv.DAY,'天',cv.REMARK)) FROM cy_vacation AS cv WHERE cv.STAFF_ID=cso.STAFF_ID AND cv.DATE&gt;=CONCAT(#{vacation.day},'-11-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')) AS december
        FROM cy_staff_outside AS cso
        LEFT JOIN cy_vacation AS cv ON(cv.STAFF_ID=cso.STAFF_ID)
        WHERE cv.INS_OUT='1' AND cv.DATE&gt;=CONCAT(#{vacation.day}-1,'-12-16') AND cv.DATE&lt;=CONCAT(#{vacation.day},'-12-15')
        <if test="vacation.name!= null and vacation.name !=''">
            AND cso.`NAME` LIKE CONCAT('%',#{vacation.name},'%')
        </if>
        ORDER BY SORT_NUM_1 ASC, SORT_NUM_2 ASC
    </select>

</mapper>
