<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.WaterMapper">

    <select id="findWaterDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.Water">
        SELECT
        wc.WC_ID AS wcId,
        wc.WC_NAME AS wcName,
        wc.WC_NUM AS wcNum,
        w.WATER_ID AS waterId,
        w.`YEAR`,
        w.`MONTH`,
        w.ACTUAL_AMOUNT AS actualAmount,
        w.UNIT_PRICE AS unitPrice,
        w.TAP_WATER_FEE AS tapWaterFee,
        w.WATER_RESOURCES_FEE AS waterResourcesFee,
        w.SEWAGE_FEE AS sewageFee,
        w.TOTAL_AMOUNT AS totalAmount,
        w.CREATE_TIME AS createTime,
        w.MODIFY_TIME AS modifyTime
        FROM cy_water AS w
        LEFT JOIN p_wc_water AS ww ON(ww.WATER_ID=w.WATER_ID)
        LEFT JOIN cy_wc AS wc ON(wc.WC_ID=ww.WC_ID)
        WHERE 1=1
        <if test="water.wcName != null and water.wcName != ''">
            AND wc.WC_NAME LIKE CONCAT('%',#{water.wcName},'%')
        </if>
        <if test="water.wcNum != null and water.wcNum != ''">
            AND wc.WC_NUM LIKE CONCAT('%',#{water.wcNum},'%')
        </if>
        <if test="water.year != null and water.year != ''">
            AND FIND_IN_SET(w.`YEAR`, #{water.year})
        </if>
        <if test="water.month != null and water.month != ''">
            AND FIND_IN_SET(w.`MONTH`, #{water.month})
        </if>
        <if test="water.createTimeFrom != null and water.createTimeFrom !=''">
            AND w.CREATE_TIME &gt;= #{water.createTimeFrom}
        </if>
        <if test="water.createTimeTo!= null and water.createTimeTo !=''">
            AND w.CREATE_TIME &lt;= #{water.createTimeTo}
        </if>
        <if test="water.modifyTimeFrom != null and water.modifyTimeFrom !=''">
            AND w.MODIFY_TIME &gt;= #{water.modifyTimeFrom}
        </if>
        <if test="water.modifyTimeTo!= null and water.modifyTimeTo !=''">
            AND w.MODIFY_TIME &lt;= #{water.modifyTimeTo}
        </if>
    </select>

    <select id="findWaterIdByDateAndWcId" resultType="java.lang.Long">
        SELECT cw.WATER_ID, cw.YEAR, cw.MONTH
        FROM cy_water AS cw
        LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID = cw.WATER_ID)
        WHERE pww.WC_ID=#{wcId} AND cw.YEAR = #{year} AND cw.MONTH = #{month} AND cw.TOTAL_AMOUNT = #{totalAmount}
        LIMIT 1
    </select>
</mapper>
