<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.WcMapper">

    <select id="findWcOwns" resultType="java.lang.String">
        SELECT WC_OWN FROM cy_wc GROUP BY WC_OWN
    </select>

    <select id="findWcDetailExcel" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc"
            parameterType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT
        wc.WC_ID AS wcId,
        wc.WC_NAME AS wcName,
        wc.DISTRICT,
        wc.MANAGE_UNIT,
        wc.WC_NUM AS wcNum,
        wc.LONGITUDE,
        wc.LATITUDE,
        wc.WC_KIND,
        wc.BUILDING_METHOD,
        wc.BUILDING_TYPE,
        wc.IS_MANAGE_ROOM,
        wc.WC_SORT,
        wc.FLUSHING_METHOD,
        wc.INDICATOR_STATUS,
        wc.STREET_TOWN AS streetTown,
        wc.IS5TH_RING,
        wc.USE_DATE,
        wc.REPLACE_DATE AS replaceDate,
        wc.INITIAL_MONEY,
        wc.WC_AREA,
        wc.IS_PROPERTY_RIGHT,
        wc.SINK,
        wc.PIT_MALE,
        wc.PIT_FEMALE,
        wc.PIT_SEXLESS,
        wc.URINALS_TYPE,
        wc.URINALS_NUM,
        wc.IS_ACCESSIBILITY,
        wc.INDICATOR_NUM,
        wc.IS_DISABLED_ROOM,
        wc.FECAL_METHOD,
        wc.URINALS_LEN,
        wc.OPEN_HOUR,
        wc.ASSIGNMENT_STYLE,
        wc.IS_INDICATOR,
        wc.WC_OWN AS wcOwn,
        wc.MANAGE_TYPE,
        wc.CLEAN_NUM,
        wc.WC_ADDRESS,
        wc.WC_NOW_STATUS AS wcNowStatus,
        (SELECT td.VALUEE FROM t_dict td WHERE td.TABLE_NAME='cy_wc' AND td.FIELD_NAME='district' 			AND td.KEYY=wc.DISTRICT 		LIMIT 1) AS DISTRICT_TO_DICT,
        (SELECT td.VALUEE FROM t_dict td WHERE td.TABLE_NAME='cy_wc' AND td.FIELD_NAME='manage_unit' 		AND td.KEYY=wc.MANAGE_UNIT 		LIMIT 1) AS MANAGE_UNIT_TO_DICT,
        (SELECT td.VALUEE FROM t_dict td WHERE td.TABLE_NAME='cy_wc' AND td.FIELD_NAME='wc_kind' 			AND td.KEYY=wc.WC_KIND 			LIMIT 1) AS WC_KIND_TO_DICT,
        (SELECT td.VALUEE FROM t_dict td WHERE td.TABLE_NAME='cy_wc' AND td.FIELD_NAME='building_method' 	AND td.KEYY=wc.BUILDING_METHOD 	LIMIT 1) AS BUILDING_METHOD_TO_DICT,
        (SELECT td.VALUEE FROM t_dict td WHERE td.TABLE_NAME='cy_wc' AND td.FIELD_NAME='building_type' 		AND td.KEYY=wc.BUILDING_TYPE 	LIMIT 1) AS BUILDING_TYPE_TO_DICT,
        (SELECT td.VALUEE FROM t_dict td WHERE td.TABLE_NAME='cy_wc' AND td.FIELD_NAME='wc_sort' 			AND td.KEYY=wc.WC_SORT 			LIMIT 1) AS WC_SORT_TO_DICT,
        (SELECT td.VALUEE FROM t_dict td WHERE td.TABLE_NAME='cy_wc' AND td.FIELD_NAME='manage_type' 		AND td.KEYY=wc.MANAGE_TYPE 		LIMIT 1) AS MANAGE_TYPE_TO_DICT
        FROM cy_wc AS wc
        WHERE 1=1
        <if test="wc.wcName != null and wc.wcName != ''">
            AND wc.WC_NAME LIKE CONCAT('%',#{wc.wcName},'%')
        </if>
        <if test="wc.wcNum != null and wc.wcNum != ''">
            AND wc.WC_NUM LIKE CONCAT('%',#{wc.wcNum},'%')
        </if>
        <if test="wc.wcOwn != null and wc.wcOwn != ''">
            AND FIND_IN_SET(wc.WC_OWN, #{wc.wcOwn})
        </if>
        <if test="wc.wcSort != null and wc.wcSort != ''">
            AND FIND_IN_SET(wc.WC_SORT, #{wc.wcSort})
        </if>
    </select>
    <select id="findWcDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc"
            parameterType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT
        wc.WC_ID AS wcId,
        wc.WC_NAME AS wcName,
        wc.DISTRICT,
        wc.MANAGE_UNIT,
        wc.WC_NUM AS wcNum,
        wc.LONGITUDE,
        wc.LATITUDE,
        wc.WC_KIND,
        wc.BUILDING_METHOD,
        wc.BUILDING_TYPE,
        wc.IS_MANAGE_ROOM,
        wc.WC_SORT,
        wc.FLUSHING_METHOD,
        wc.INDICATOR_STATUS,
        wc.STREET_TOWN AS streetTown,
        wc.IS5TH_RING,
        wc.USE_DATE,
        wc.REPLACE_DATE AS replaceDate,
        wc.INITIAL_MONEY,
        wc.WC_AREA,
        wc.IS_PROPERTY_RIGHT,
        wc.SINK,
        wc.PIT_MALE,
        wc.PIT_FEMALE,
        wc.PIT_SEXLESS,
        wc.URINALS_TYPE,
        wc.URINALS_NUM,
        wc.IS_ACCESSIBILITY,
        wc.INDICATOR_NUM,
        wc.IS_DISABLED_ROOM,
        wc.FECAL_METHOD,
        wc.URINALS_LEN,
        wc.OPEN_HOUR,
        wc.ASSIGNMENT_STYLE,
        wc.IS_INDICATOR,
        wc.WC_OWN AS wcOwn,
        wc.MANAGE_TYPE,
        wc.CLEAN_NUM,
        wc.WC_ADDRESS,
        wc.WC_NOW_STATUS AS wcNowStatus
        FROM cy_wc AS wc
        WHERE 1=1
        <if test="wc.wcName != null and wc.wcName != ''">
            AND wc.WC_NAME LIKE CONCAT('%',#{wc.wcName},'%')
        </if>
        <if test="wc.wcNum != null and wc.wcNum != ''">
            AND wc.WC_NUM LIKE CONCAT('%',#{wc.wcNum},'%')
        </if>
        <if test="wc.wcOwn != null and wc.wcOwn != ''">
            AND FIND_IN_SET(wc.WC_OWN, #{wc.wcOwn})
        </if>
        <if test="wc.wcSort != null and wc.wcSort != ''">
            AND FIND_IN_SET(wc.WC_SORT, #{wc.wcSort})
        </if>
    </select>

    <select id="getWcName" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT
        wc.WC_ID AS wcId,
        wc.WC_NAME,
        wc.WC_NUM AS wcNum
        FROM cy_wc AS wc
        WHERE 1=1
        <if test="wc.wcOwn != null and wc.wcOwn != ''">
            AND wc.WC_OWN = #{wc.wcOwn}
        </if>
        <if test="wc.wcName != null and wc.wcName != ''">
            AND wc.WC_NAME LIKE CONCAT('%',#{wc.wcName},'%')
        </if>
        <if test="wc.wcNum != null and wc.wcNum != ''">
            AND wc.WC_NUM LIKE CONCAT('%',#{wc.wcNum},'%')
        </if>
    </select>

    <select id="findWcCostAccount" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT
        w.WC_ID,
        w.WC_SORT,
        w.WC_OWN,
        w.WC_NUM,
        w.WC_NAME,
        (SELECT GROUP_CONCAT(DISTINCT s.NAME) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND ws.`YEAR`=#{year} AND ws.`MONTH`=#{month} AND FIND_IN_SET(s.`NAME`, '大盘纸,发泡液')) AS a,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND ws.`YEAR`=#{year} AND ws.`MONTH`=#{month} AND s.TYPE_APPLICATION='1' AND NOT FIND_IN_SET(s.`NAME`, '大盘纸,发泡液')) AS b,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND ws.`YEAR`=#{year} AND ws.`MONTH`=#{month} AND s.TYPE_APPLICATION='1' AND s.`NAME`='大盘纸') AS c,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND ws.`YEAR`=#{year} AND ws.`MONTH`=#{month} AND s.TYPE_APPLICATION='1' AND s.`NAME`='发泡液') AS d,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND ws.`YEAR`=#{year} AND ws.`MONTH`=#{month} AND s.TYPE_APPLICATION='4' ) AS e,
        (SELECT SUM(wa.TOTAL_AMOUNT) FROM cy_water AS wa LEFT JOIN p_wc_water AS ww ON(ww.WATER_ID=wa.WATER_ID) WHERE ww.WC_ID=w.WC_ID AND wa.`YEAR`=#{year} AND wa.`MONTH`=#{month}) AS f,
        (SELECT SUM(e.TOTAL_AMOUNT) FROM cy_electricity AS e LEFT JOIN p_wc_electricity AS we ON(we.ELECTRICITY_ID=e.ELECTRICITY_ID) WHERE we.WC_ID=w.WC_ID AND e.`YEAR`=#{year} AND e.`MONTH`=#{month}) AS g
        FROM cy_wc AS w
    </select>

    <select id="findWcCostAccountByFirstHalf" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT
        w.WC_ID,
        w.WC_SORT,
        w.WC_OWN,
        w.WC_NUM,
        w.WC_NAME,
        (SELECT GROUP_CONCAT(DISTINCT s.NAME) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='1' AND FIND_IN_SET(s.`NAME`, '大盘纸,发泡液')) AS a,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='1' AND s.`NAME`='大盘纸') AS b,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='1' AND s.`NAME`='发泡液') AS c,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='1' AND NOT FIND_IN_SET(s.`NAME`, '大盘纸,发泡液')) AS d,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='01') AS e,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='02') AS f,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='03') AS g,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='04') AS h,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='05') AS i,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='06') AS j,
        (SELECT IF(e>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='01'),NULL)) AS k,
        (SELECT IF(f>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='02'),NULL)) AS l,
        (SELECT IF(g>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='03'),NULL)) AS m,
        (SELECT IF(h>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='04'),NULL)) AS n,
        (SELECT IF(i>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='05'),NULL)) AS o,
        (SELECT IF(j>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='06'),NULL)) AS p,
        (SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='01') AS q,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='02') AS r,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='03') AS s,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='04') AS t,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='05') AS u,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='06') AS v,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='01') AS w,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='02') AS x,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='03') AS y,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='04') AS z,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='05') AS aa,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='06') AS ab
        FROM cy_wc AS w
    </select>

    <select id="findWcCostAccountBySecondHalf" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT
        w.WC_ID,
        w.WC_SORT,
        w.WC_OWN,
        w.WC_NUM,
        w.WC_NAME,
        (SELECT GROUP_CONCAT(DISTINCT s.NAME) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND FIND_IN_SET(s.`NAME`, '大盘纸,发泡液')) AS a,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='1' AND s.`NAME`='大盘纸') AS b,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='1' AND s.`NAME`='发泡液') AS c,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='1' AND NOT FIND_IN_SET(s.`NAME`, '大盘纸,发泡液')) AS d,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='07') AS e,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='08') AS f,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='09') AS g,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='10') AS h,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='11') AS i,
        (SELECT SUM(ws.AMOUNT*IF(cuc.STOREROOM_ID IS NULL,s.MONEY,s.MONEY/cuc.AMOUNT_CONVERSION)) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='12') AS j,
        (SELECT IF(e>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='07'),NULL)) AS k,
        (SELECT IF(f>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='08'),NULL)) AS l,
        (SELECT IF(g>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='09'),NULL)) AS m,
        (SELECT IF(h>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='10'),NULL)) AS n,
        (SELECT IF(i>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='11'),NULL)) AS o,
        (SELECT IF(j>=300,(SELECT GROUP_CONCAT(DISTINCT CONCAT(s.`NAME`,ws.AMOUNT,IFNULL(cuc.UNIT,s.UNIT))) FROM p_wc_storeroom AS ws LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID) LEFT JOIN cy_unit_conversion AS cuc ON(cuc.STOREROOM_ID=ws.STOREROOM_ID) WHERE ws.WC_ID=w.WC_ID AND s.TYPE_APPLICATION='4' AND ws.`YEAR`=#{year} AND ws.`MONTH`='12'),NULL)) AS p,
        (SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='07') AS q,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='08') AS r,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='09') AS s,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='10') AS t,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='11') AS u,
		(SELECT SUM(cw.TOTAL_AMOUNT) FROM cy_water AS cw LEFT JOIN p_wc_water AS pww ON(pww.WATER_ID=cw.WATER_ID) WHERE pww.WC_ID=w.WC_ID AND cw.`YEAR`=#{year} AND cw.`MONTH`='12') AS v,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='07') AS w,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='08') AS x,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='09') AS y,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='10') AS z,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='11') AS aa,
		(SELECT SUM(ce.TOTAL_AMOUNT) FROM cy_electricity AS ce LEFT JOIN p_wc_electricity AS pwe ON(pwe.ELECTRICITY_ID=ce.ELECTRICITY_ID) WHERE pwe.WC_ID=w.WC_ID AND ce.`YEAR`=#{year} AND ce.`MONTH`='12') AS ab
        FROM cy_wc AS w
    </select>

    <select id="getWcByWcNum" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT WC_ID, WC_OWN, WC_NAME, WC_NUM
        FROM cy_wc
        WHERE
        <if test="isLastFour">
            RIGHT(WC_NUM, 4)
        </if>
        <if test="!isLastFour">
            WC_NUM
        </if>
        LIKE CONCAT('%',#{wcNum},'%')
        LIMIT 1
    </select>
    <select id="getWcIdByWcNum" resultType="java.lang.Long">
        SELECT WC_ID
        FROM cy_wc
        WHERE
        <if test="isLastFour">
            RIGHT(WC_NUM, 4) = #{wcNum}
        </if>
        <if test="!isLastFour">
            WC_NUM = #{wcNum}
        </if>
        LIMIT 1
    </select>

    <select id="findAllMonthWcConsumptionByYear" resultType="java.util.Map">
        SELECT
        pws.WC_OWN,
        SUM(cs.MONEY) AS money,
        CONCAT(right(pws.`YEAR`,2),'-',pws.`MONTH`) AS `date`
        FROM cy_wc AS cw
        LEFT JOIN p_wc_storeroom AS pws ON(pws.WC_ID=cw.WC_ID)
        LEFT JOIN cy_storeroom AS cs ON(cs.ID=pws.STOREROOM_ID)
        WHERE pws.`YEAR`=#{year}
        GROUP BY
        pws.WC_OWN,pws.`MONTH`
    </select>

    <select id="findAllOwnWcConsumptionByYear" resultType="java.util.Map">
        CALL findAllOwnWcConsumptionByYear(#{year})
    </select>

    <select id="findWcListByPosition" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT (@i := @i + 1) AS id, a.* FROM
        (
            SELECT
            wc.WC_ID,
            wc.WC_NAME,
            wc.OPEN_HOUR,
            '朝环三队' AS manageUnitToDict,
            wc.WC_ADDRESS,
            ROUND(GETDISTANCE (#{longitude}, #{latitude}, wc.LONGITUDE, wc.LATITUDE)) AS distance,
            ROUND( wc.LONGITUDE, 6 ) AS longitude,
            ROUND( wc.LATITUDE, 6 ) AS latitude,
            (
                SELECT cws.STATUS
                FROM cy_wc_status AS cws
                WHERE cws.WC_ID=wc.WC_ID
                AND (ISNULL(cws.END_DATE) OR cws.END_DATE>=DATE_FORMAT(NOW(),'%y-%m-%d'))
                ORDER BY cws.END_DATE
                DESC LIMIT 1
            ) AS status,
            wc.PIT_MALE,
            wc.PIT_FEMALE
            FROM
            cy_wc AS wc
            WHERE
            LENGTH(wc.LONGITUDE+0)=LENGTH(wc.LONGITUDE) AND LENGTH(wc.LATITUDE+0)=LENGTH(wc.LATITUDE)
            AND GETDISTANCE (#{longitude}, #{latitude}, wc.LONGITUDE, wc.LATITUDE) &lt;= #{radius}
            ORDER BY
            distance
        ) AS a,(SELECT @i := #{length} - 1) AS b
    </select>

    <select id="getWcAndFilesById" resultType="cc.mrbird.febs.chaoyang3team.domain.Wc">
        SELECT
        (
            SELECT cws.STATUS
            FROM cy_wc_status AS cws
            WHERE cws.WC_ID=wc.WC_ID
            AND (ISNULL(cws.END_DATE) OR cws.END_DATE>=DATE_FORMAT(NOW(),'%y-%m-%d'))
            ORDER BY cws.END_DATE
            DESC LIMIT 1
        ) AS status,
        wc.WC_ID AS wcId,
        wc.WC_NAME AS wcName,
        wc.DISTRICT,
        wc.MANAGE_UNIT,
        wc.WC_NUM AS wcNum,
        wc.LONGITUDE,
        wc.LATITUDE,
        wc.WC_KIND,
        wc.BUILDING_METHOD,
        wc.BUILDING_TYPE,
        wc.IS_MANAGE_ROOM,
        wc.WC_SORT,
        wc.FLUSHING_METHOD,
        wc.INDICATOR_STATUS,
        wc.STREET_TOWN AS streetTown,
        wc.IS5TH_RING,
        wc.USE_DATE,
        wc.REPLACE_DATE AS replaceDate,
        wc.INITIAL_MONEY,
        wc.WC_AREA,
        wc.IS_PROPERTY_RIGHT,
        wc.SINK,
        wc.PIT_MALE,
        wc.PIT_FEMALE,
        wc.PIT_SEXLESS,
        wc.URINALS_TYPE,
        wc.URINALS_NUM,
        wc.IS_ACCESSIBILITY,
        wc.INDICATOR_NUM,
        wc.IS_DISABLED_ROOM,
        wc.FECAL_METHOD,
        wc.URINALS_LEN,
        wc.OPEN_HOUR,
        wc.ASSIGNMENT_STYLE,
        wc.IS_INDICATOR,
        wc.WC_OWN AS wcOwn,
        wc.MANAGE_TYPE,
        wc.CLEAN_NUM,
        wc.WC_ADDRESS,
        wc.WC_NOW_STATUS AS wcNowStatus,
	    group_concat(tf.ADDRESS separator '|') AS filesAddress,
	    (
	        SELECT ROUND(AVG(cwe.WHOLE_STAR))
	        FROM cy_wc_evaluate AS cwe
	        WHERE cwe.WC_ID=wc.WC_ID AND cwe.IS_COMPLAINT='1'
	    ) AS wholeStar
        FROM cy_wc AS wc
        LEFT JOIN p_wc_file AS pwf ON(pwf.WC_ID = wc.WC_ID)
        LEFT JOIN t_file AS tf ON(tf.FILE_ID = pwf.FILE_ID)
        WHERE wc.WC_ID = #{wcId}
    </select>

</mapper>
