<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.WcStoreroomMapper">

    <select id="findWcStoreroomDetail" resultType="cc.mrbird.febs.chaoyang3team.domain.WcStoreroom">
        SELECT
        <include refid="result"/>
        FROM p_wc_storeroom AS ws
        LEFT JOIN cy_wc AS w ON(w.WC_ID=ws.WC_ID)
        LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID)
        LEFT JOIN cy_unit_conversion AS cuc ON ( cuc.STOREROOM_ID = s.ID )
        WHERE (ws.`YEAR`=#{wcStoreroom.yearForm} AND FIND_IN_SET(ws.`MONTH`,#{wcStoreroom.monthForm}))
        <include refid="param"/>
        GROUP BY ws.STOREROOM_ID,ws.WC_ID,ws.`YEAR`,ws.`MONTH`,ws.`DAY` DESC
    </select>
    <select id="getDeleteWcStoreroomIds" resultType="java.lang.String">
        SELECT
        ws.ID
        FROM p_wc_storeroom AS ws
        LEFT JOIN cy_wc AS w ON(w.WC_ID=ws.WC_ID)
        LEFT JOIN cy_storeroom AS s ON(s.ID=ws.STOREROOM_ID)
        LEFT JOIN cy_unit_conversion AS cuc ON ( cuc.STOREROOM_ID = s.ID )
        WHERE (ws.`YEAR`=#{wcStoreroom.yearForm} AND FIND_IN_SET(ws.`MONTH`,#{wcStoreroom.monthForm}))
        <include refid="param"/>
        GROUP BY ws.STOREROOM_ID,ws.WC_ID,ws.`YEAR`,ws.`MONTH`,ws.`DAY` DESC
    </select>

    <sql id="result">
        w.WC_NAME,
        w.WC_NUM,
        s.`NAME`,
        s.`TYPE`,
        IFNULL( cuc.UNIT, s.UNIT ) AS UNIT,
        s.TYPE_APPLICATION,
        s.MONEY,
        SUM(ws.AMOUNT) AS amount,
        ws.ID,
        ws.`YEAR`,
        ws.`MONTH`,
        ws.`DAY`,
        ws.WC_ID AS wcId,
        ws.STOREROOM_ID,
        ws.USERNAME,
        ws.WC_OWN,
        ws.CREATE_TIME AS createTime
	</sql>
    <sql id="param">
        <if test="wcStoreroom.username != null and wcStoreroom.username != ''">
            AND ws.USERNAME LIKE CONCAT('%',#{wcStoreroom.username},'%')
        </if>
        <if test="wcStoreroom.yearTo != null and wcStoreroom.yearTo != ''">
            OR (ws.`YEAR`=#{wcStoreroom.yearTo} AND FIND_IN_SET(ws.`MONTH`,#{wcStoreroom.monthTo}))
        </if>
        <if test="wcStoreroom.wcName != null and wcStoreroom.wcName != ''">
            AND w.WC_NAME LIKE CONCAT('%',#{wcStoreroom.wcName},'%')
        </if>
        <if test="wcStoreroom.wcNum != null and wcStoreroom.wcNum != ''">
            AND w.WC_NUM LIKE CONCAT('%',#{wcStoreroom.wcNum},'%')
        </if>
        <if test="wcStoreroom.typeApplication != null and wcStoreroom.typeApplication != ''">
            AND FIND_IN_SET(s.TYPE_APPLICATION, #{wcStoreroom.typeApplication})
        </if>
        <!--<if test="wcStoreroom.name != null and wcStoreroom.name != ''">
            AND s.NAME LIKE CONCAT('%',#{wcStoreroom.name},'%')
        </if>-->
        <if test="wcStoreroom.name != null and wcStoreroom.name != ''">
            <foreach collection="wcStoreroom.names" index="index" item="item" open="AND (" separator="OR" close=")">
                s.NAME LIKE CONCAT('%',#{item},'%')
            </foreach>
        </if>
        <if test="wcStoreroom.createTimeFrom != null and wcStoreroom.createTimeFrom !='' and wcStoreroom.createTimeTo!= null and wcStoreroom.createTimeTo !=''">
            AND ws.CREATE_TIME &gt;= #{wcStoreroom.createTimeFrom} AND ws.CREATE_TIME &lt;= #{wcStoreroom.createTimeTo}
        </if>
    </sql>
</mapper>
