<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.chaoyang3team.dao.WcWaterMapper">

    <select id="findWaterIdsByWcIds" resultType="java.lang.String">
        SELECT WATER_ID FROM p_wc_water WHERE FIND_IN_SET(WC_ID, #{wcIds})
    </select>
</mapper>
